/* styling for to do list items */
* {
    box-sizing: border-box;
}
body {
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
}
ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    padding: 0.5em 0;
}
.todo__description {
    padding: 0.5em;
}

.todo__description--marked {
    text-decoration: line-through;
}

.todo__deletebutton {
    height: 2.5em;
    width: 2.5em;
    background-color: white;
    background-image: url('./images/delete.png');
    background-size: contain;
    border: none;

}

.todo__markbutton {
    height: 2.5em;
    width: 2.5em;
    background-color: white;
    background-image: url('./images/unchecked.png');
    background-size: contain;
    border: none;
}

.todo__markbutton--marked {
    background-image: url('./images/checked.png');
}

.add-todo__submit {
    height: 2.5em;
    min-width: 6em;
    background-color: #078F4F;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.add-todo__input {
    height: 2.5em;
    border: 2px solid black; 
    border-radius: 5px;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 2rem;
        width: 60%;
    }
    .add-todo__submit {
        height: 2.5em;
        min-width: 5em;
    }
}
